{% extends 'myapp/layout.html' %}

{% block title %}
    <title>Первая страница проекта на Django</title>
{% endblock %}

{% block content %}
<h1 class="text-center margin=25px">Первая страница проекта на Django</h1>
<br>
<div>
    <br>
    <div>
        <p>Здесь я начинаю свое путешествие в мир веб-разработки с использованием Django.</p>

        <h3>Что такое Django?</h3>
        <p>Django - это мощный веб-фреймворк на языке Python, который позволяет быстро создавать безопасные и
            масштабируемые веб-приложения.</p>


        <h3>Мои цели:</h3>
        <ul>
            <li>Освоить основы Django</li>
            <li>Создать полнофункциональный веб-сайт</li>
            <li>Изучить лучшие практики веб-разработки</li>
        </ul>

        <p>Следите за обновлениями, скоро здесь появится больше интересного контента!</p>

        <div class="footer">
            <p>Спасибо, что заглянули на мой сайт. Предлагаю вместе исследовать возможности Django!</p>
        </div>
    </div>
</div>



{% endblock %}





